on:
  push:
    tags:
      - 'v*'

jobs:
  generate-changelog:
    runs-on: ubuntu-latest
    outputs:
      CHANGELOG: ${{steps.generate.outputs.CHANGELOG}}
    steps:
    - name: get tag from version
      id: current_version
      shell: bash
      run: |
        echo "::set-output name=CURRENT_VERSION::${GITHUB_REF/refs\/tags\//}"
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - id: previous_version
      run: |
        PREVIOUS_VERSION=$(git describe --abbrev=0 --tags `git rev-list --tags --skip=1 --max-count=1`)
        echo "::set-output name=PREVIOUS_VERSION::$PREVIOUS_VERSION"
    - id: generate
      run: |
        CHANGELOG=$(git log --pretty=format:'%s' ${{steps.previous_version.outputs.PREVIOUS_VERSION}}..${{steps.current_version.outputs.CURRENT_VERSION}} --skip=1)
        echo "::set-output name=CHANGELOG::$CHANGELOG"

  publish-tauri:
    needs: generate-changelog
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    timeout-minutes: 30
    
    runs-on: ${{ matrix.platform }}
    steps:
    - name: get tag from version
      id: tag_version
      shell: bash
      run: |
        echo "::set-output name=TAG_VERSION::${GITHUB_REF/refs\/tags\//}"
    - run: echo ${{ steps.tag_version.outputs.TAG_VERSION }}
    - uses: actions/checkout@v2
    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: install Rust stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: install webkit2gtk (ubuntu only)
      if: matrix.platform == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y webkit2gtk-4.0
    - name: install app dependencies and build it
      run: npm ci && npm run build
    - uses: tauri-apps/tauri-action@v0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
        APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
        TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
      with:
        tagName: ${{ steps.tag_version.outputs.TAG_VERSION }}
        releaseName: LegiSlate-${{ steps.tag_version.outputs.TAG_VERSION }}
        releaseBody: ${{ needs.generate-changelog.outputs.CHANGELOG}}
        prerelease: false
